# Мастерская (EDA+дашборд)
## Анализ вакансий для Data Analyst или BI analyst entry level в ЕU с LinkedIn.

## Цель: 
Визуализировать информацию о рынке вакансий для дата аналитика или BI аналитика джуна в Европе
## Источник данных: 
файл сsv c вакансиями за неделю, спарсенными с LinkedIn 08/09/2022
## ТЗ
1. Распарсить предоставленный csv файл с помощью BS 4, создав следующие признаки:
- наименование вакансии
- город
- страна
- тип занятости (online, hybride, on-site)
- компания
- размер компании (количество работников)
- сфера деятельности компании
- требуемые хард скилы
- дата публикации вакансии
- количество кандидатов на вакансию

2. Подготовка данных к визуализации:
- фильтрация датафрейма с оставлением только вакансий для аналитиков данных и BI аналитиков
- удаление дубликатов
- удаление ненужных атрибутов (признаков)

3. Визуализация данных в Tableau

In [26]:
import os
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

import requests
from geopy.geocoders import Nominatim
import datetime as dt
from datetime import date, datetime, timedelta
#from datetime import datetime

from IPython.display import HTML

In [2]:
# Откроем файл для аналитиков
def path_open(name, pth1, pth2):
    if os.path.exists(pth1):
        name = pd.read_csv(pth1)
    elif os.path.exists(pth2):
        name = pd.read_csv(pth2)
    else:
        print('Something is wrong')
        
path_open('df', 'masterskaya_yandex_2022_09_07.csv', 
          'D:\IT\courses Python\yandex_practicum\\13 parsing\masterskaya_yandex_2022_09_07.csv'
         )
df = pd.read_csv('masterskaya_yandex_2022_09_07.csv', usecols=['html'])
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   html    772 non-null    object
dtypes: object(1)
memory usage: 6.2+ KB

                                                html
0  \n  <div>\n    <div class="\n        jobs-deta...
1  \n  <div>\n    <div class="\n        jobs-deta...

## Наименование вакансии

In [3]:
# Выделим название вакансии
df['title'] = df['html'].apply(lambda x:  BeautifulSoup(x).find('h2').text.strip())
df.head(2)

# Посмотрим какие есть вакансии
df['title'].unique()

array(['Stage - Assistant Ingénieur Qualité - Beyrand (H/F)',
       'développeur matlab/simulink, secteur automobile f/h',
       'Online Data Analyst', 'Online Data Analyst - Belgium',
       'Data Analyst', 'Alternant/ Alternante data analyst M/F',
       'Alternant(e) Data Scientist (H/F)',
       'ALTERNANCE- TOTALENERGIES RENEWABLES - Data Engineer (H/F)',
       'Data Engineer (with Python)', 'Junior Test Analyst',
       'Data Analyst H/F',
       'Data Scientist e-Commerce & Acquisition Monétique',
       'Ingénieur de recherche en traitement de données de mobilité H/F',
       'INGENIERO/A PRODUCTO Y CALIDAD AUTOMOCIÓN',
       'Data Scientist - Experience', 'Stage - Data Analyst (H/F)',
       'Data Analyst (F/H)', 'Data Analyst (Tableau)',
       '(Junior) Data Scientist (m/w/d)', 'Junior Data Scientist',
       'Data Scientist en stage H/F',
       'Software Development Engineer (Seville // Madrid) (Madrid or Seville)',
       'DATA SCIENTIST', 'Online Data Analyst | French Speaker',
       'Online Data Analyst | Flexible Work',
       'Assistant(e) Chef(fe) de Projet Innovation - Stage',
       'Football Statistician (Data Collection)',
       'Online Data Analyst | REMOTE OPPORTUNITY',
       'Football & Ice Hockey Statistician (Data Collection)',
       'Data engineer Big Data (H/F) - ELC', 'Data analyst',
       'Data Analyst (IT)', 'Data Analyst (m/f/d)',
       'Data Analyst (M/W/D)', 'Ingénieur Exploitation Junior H/F',
       'DATA SCIENTIST H/F TOULOUSE', 'Remote | Data Analyst',
       'Ingénieur.e Etudes et Développement Python (H/F)',
       'Backend Engineer - Revenue Engineering',
       'Handball Statistician (Data Collection)',
       '(Junior) Financial Data Scientist (w/m/d)',
       'Software Engineer ambito Core Banking (Neolaureati)',
       'Data Analyst SA1/SA2',
       "Data Scientist débutant - Digitalisation des outils d'intégrité Subsea / Digitalisation of Subsea Integrity tools (H/F)",
       'Data Scientist', 'Employé Administratif – Aide comptable',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Développeur Full Stack expérimenté H/F',
       'Data Analyst - AdSales & StoryWorks', 'Data Analytics Engineer',
       'Data Analyst with focus on solution design (m/f/d)',
       'Remote| Data Analyst', 'Data Analyst - (m/f/d)',
       'Développeur embarqué / python – Besançon, France (H/F)',
       'Alternance - Data Analyst/Dataviz Specialist H/F',
       'Partner Engineer - Consumer Experience', 'Junior Data Engineer',
       'Data Analyst  - Boursorama',
       'Technology Strategy & Advisory Junior Analyst',
       'Data Analyst in Forensic Technology Services team',
       'Data Analyst (m/w/d)', 'Junior Business Analyst',
       'Engineer Standard Cells Generation and Automation (f/m/div)*',
       'Analyste Exploitation Datacenter',
       'Ice Hockey Statistician (Data Collection)',
       'Digital Assets Weekend/Nights Trading Assistant',
       'Data Analyst with Python', 'Online Data Analyst in the UK',
       'Data Analyst Clickshare', 'Data Analyst - Associate',
       'Ingénieur Analyste GC/GCMS H/F', 'Technik kvality (M/Ž)',
       'Work From Home | Data Analyst', 'Internet Analyst',
       'Graduate Cloud Engineering Program (m/f/d)',
       'BIG DATA - Talent Campus', 'Data Analyst - Performance',
       'Consultant Data junior H/F - Data & Analytics',
       'Software Engineer Associate - Milano [DIG]',
       'Graduate Developer (J12995)', 'Data Data Analyst with Spanish',
       'Junior Functional Analyst ambito Canali',
       'Data Analyst (Part-time)', 'Data Analyst Customer Excellence',
       'Digital Assets Trader', 'Internet Analyst (Remote)',
       'Développeur Python (H/F)', 'Data/Analyst Data Translator (H/F)',
       'FULL STACK DEVELOPER', 'Graduate Developer (J12998)',
       'Junior Business Analyst (m/f/d)', 'Product Data Analyst',
       'Data Analyst - Oxfordshire', 'Développeur Siebel (H/F)',
       'Data Engineer - Experience Mission', 'Graduate Data Analyst',
       'Graduate Data Analyst 12 Month FTC', 'DATA ANALYST',
       'Product/Data Analyst', 'Data Analyst - Werkstudent (m/w/d)',
       'Data Engineer - Platform Foundations',
       'Superbe opportunité de Data analyst - 100% à Martigny',
       'Développeur python (H/F)', 'Optimization Data Scientist',
       'Azure Data Engineer', 'Data Engineer',
       'STAGE - DEVELOPPEUR FULLSTACK- Direction IT EXPERIENCE CLIENT (H/F)',
       'Python Developer', 'Digital Analytics Specialist', 'PMO Junior',
       'Développeur Back-End C# .NET Azure IoT H/F',
       'Customer Data Analyst (m/w/d)',
       'Data Analyst Düsseldorf/München gesucht at JSAN Consulting GmbH',
       'Geo Data Scientist', 'Software Engineer I',
       'Data Analyst E-Commerce (m/w/d)', 'CONSULTANT DATA ANALYST (F/H)',
       'Remote | Internet Analyst', 'STAGE - DATA ANALYST MARKETING F/H',
       'Data Internet Analyst', 'Data Analyst RH - F/H',
       'Data Engineer for Business Intelligence/ Data Analytics team',
       'Data Scientist - H/F', 'Data Development Analyst',
       'Data Analyst in Technology Team, Financial Crime Unit',
       'Application Engineer (Regulatory Data)', 'Junior Data Analyst',
       'Software engineer', 'Data Scientist (mf/d)',
       'Software Engineer Dataiku Online - Paris or Remote France',
       'Data Analyst (CDM 8 mois)', 'Asset Data Analyst',
       'DEVELOPPEUR PYTHON H/F NANTES', 'MACHINE LEARNING ENGINEER',
       'Junior Software/Cloud Engineer - Harderwijk', 'Data Engineer F/H',
       'Internet Analyst | Greater Bologna Metropolitan Area',
       'Data Analyst (m/w/d) - Automotive', 'Machine Learning Engineer',
       'Stage BI Business Intelligence', 'Junior Data Scientist-Stage',
       'Data Scientist - Part of Shell Graduate Programme',
       'Graduate Developer (J12996)', 'Product Data Analyst (V.I.E.) H/F',
       'DATA ANALYST - F/H - IDF', 'Software Engineer - Performance',
       'Engineer chemical supply CMP (w/m/div)*',
       'Data Analyst with Spanish (shifts), Corporate Actions',
       'Material Data Analyst', 'Junior Data & AI Engineer',
       'Data Analyst (Hydro)', 'Graduate Data Scientist',
       'Junior Python Developer',
       'Transaction Monitoring Data Scientist in Technology Team, Financial Crime Unit',
       'Data Scientist (w/m/d)', 'Data Analyst - Part time',
       'CONSULTANT.E JUNIOR- DEVELOPPEMENT DE NOUVEAUX BUSINESS',
       'Data Analyst (Product & Operations) - Sustainability',
       'Data Analyst/Data-Analystin - IT Forensik (m/w/d)',
       'Operations Data Analyst (They/She/He)', 'Analyst',
       'Analytics API/BE Developer', 'Analyst Big Data',
       '(Junior) H2 Modelling Analyst m/f/t', 'Data engineer - F/H',
       'Back-End Developer M/F',
       'Consultant Junior Digital Operations - Aéronautique/Spatial',
       'Enseignant-chercheur spécialité électronique embar',
       'Ingenieur Messtechnik (m/w/d)',
       'Data Analyst (m/f/d) Brand Marketing',
       'Internet Analyst - Remote',
       'Business Analyst / Consultant IT Sourcing (m/w/d) in Düsseldorf',
       'Ingénieur-e Optronique F/H', 'STAGE data analyst H/F',
       'ALTERNANT PRODUCT OWNER H/F', 'Analyste Risque Retail-(H/F)',
       'Simulation Ingenieur Insassenschutz (m/w/d)',
       'Data Analyst - 9 Month Fixed Term Contract',
       'Commercial Data Analyst', 'Junior Analyst (J12998)',
       'Data Engineer for Business Intelligence/Data Analytics team',
       'Consultant Junior | CIO Advisory | CDI | H/F',
       'Incentives Analyst', 'Data Analytics Analyst',
       'Data Analyst (f/m/d)',
       'Remote Opportunity for Norwegian speakers | Media Search Analyst',
       'Data Engineer / Analytics Product Owner',
       'Graduate Python Developer',
       'Business Intelligence & Market Insights Analyst',
       'Junior Analytics Engineer (m/w/d)', 'Ingeniero/a RAM',
       'Analista funzionale', 'Thesis Worker, Simulation',
       'Python Developer - AWS / CI/CD - Swiss Insurance Company',
       'Paid Social Specialist',
       'Data, Reporting and Insights Specialist',
       'Electrification engineer Martorell - Several Engineering positions (Power electronics)',
       "Chargé.e d'études Flux et Mobilités (CDI) - F/H",
       'PHP Full Stack Developer', 'Stage Digital Analytics - Marketing',
       'Data Engineer Spark Scala Sensitivities (H/F) IT CIB',
       'Financial Analyst', 'Engineer',
       'Data Scientist - Field Marketing', 'Environmental Data Analyst',
       'Data Analyst - Marketing', 'Data Analyst TUI.com (m/w/d)',
       'Data Analyst (Tijdelijk - 3 Maanden)',
       'Data Analyst & Coordinator',
       "Data Analyst & développement digital de l'Audit Compagnie F/H",
       'AI/ML Engineer', 'Data Analyst Télécom (IT)',
       'Performance and Data Analyst', 'Data Scientist .',
       'Stagiaire Développeur solution L4G',
       'Software Engineer - Data Visualization',
       'Solution Analyst area MES',
       'Python Engineer for Booking Backend Tribe',
       'Data Analyst - Analytics and Insights - Data Center of Excellence',
       'Stage innovation – DATA SCIENTIST – IA H/F',
       "Jeune Docteur R&D - Data Science & IA dans la Finance d'Entreprise - H/F",
       'Junior Analyst (J12997)',
       'Business Analytics & Service Enhancement Specialist (Maternity Cover)',
       'Data Analyst (Spotfire and/or Mendix, SQL and Python), Veldhoven',
       'CX Data Analyst', 'Skilled Data Scientist', 'Power BI Developer',
       'Young Graduate Data Engineer', 'Customer Engineer',
       'Softwareentwicklerin/Softwareentwickler',
       'Développeuse/Développeur Odoo / Python',
       'Développeur Python - F/H', 'Data analyst Datalake (F/H)',
       'Back-End Engineer, DeFi',
       'DATA SCIENTIST / DATA ENGINEER, Secteur aéronautique',
       'Développeur BI junior F/H', 'Apprenti.e Data analyst (h/f)',
       'Quality Engineer electronics',
       'Data Analyst (Spotfire and/or Mendix, SQL and Python) - Veldhoven',
       'Cryptography Specialist Engineer (Snaps)',
       'Internet Analyst | Greater Turin Metropolitan Area',
       'Software Engineer', 'Graduate Developer',
       'Online Data Analyst - Sweden',
       'Part-time Work Opportunity | Online Data Analyst',
       'Developer Sophis Back-Office (H/F)',
       'Ingénieur en développement Python sur les traitements de médias (H/F)',
       'Ingénieur qualité images satellites - F/H',
       'Software Engineer - Compute', 'C++ Developer',
       'Internet Analyst (Part-time)',
       'Ingénieur R&D Ruby / Python F/H H/F',
       'Data Engineer junior | MedTech', 'Reporting & Data analyst',
       'Junior Business Analyst (m/w/d)', 'Junior Analyst (J12995)',
       'Consultant junior Transports H/F - Utilities, Postal & Transportation',
       'Data Modelling Analyst',
       'Data Analyst mit Fokus auf Up- und Crossselling (m/w/d)',
       'Associate Data Analyst - Product Analytics',
       'Data Analyst - Finance',
       'analista di processi e tecnologie industriali di produzione.',
       'Internet Analyst (Remote Set-up)',
       'Speech Data Collection in Germany',
       'Developer Manufacturing Processes PWR (f/m/d)',
       'Search Engine Optimization Analyst', "Chargé d'études Sport",
       'Yahoo Finance Backend Engineer',
       'Pensions Administration Data Analyst',
       'Data Analyst (Marketing Team)',
       'Backend Engineer - Data Platform', 'Junior Analyst (J12996)',
       'Business Analyst H/F', 'Data Entry Specialist',
       'Ingénieur Pilote Non Conformités - H/F - PARIS',
       'Data Analyst & BusinessObjects Developer', 'Software Developer',
       'Data Scientist - Torino',
       'NEOLAUREATO/A IN ECONOMIA per attività di CONSULENTE JUNIOR APPLICATIVO ERP/INGEGNERIA',
       'Data analyste - H/F - Alternance', 'Data Analyst, Digital',
       'Stage - Business Intelligence / Service Qualité - BAc +5 (dépt 27 - Le Vaudreuil)- F/H',
       'Développeur Objet domaine défense H/F',
       'Enterprise Architect Junior Analyst [Online / Phone Recruitment]',
       'Consultant junior H/F - IT Strategy',
       'Data Engineer - Data Science Engineering',
       'Data Analyst-Tecan Evo Plus and Fluent Biosero GBG',
       'Junior Market Data Analyst', 'SOFTWARE ENGINEER',
       'Data Analyst - Demand', 'DEVELOPPEUR PYTHON (H/F) IDF',
       'Développeur Python',
       'Data Analyst (Insurance) - Multiple Positions',
       'Data Analyst, Banking & Insurance',
       'Remote | Software Engineer (Golang) Poland',
       '(Senior) Fullstack Engineer (all genders) Remote',
       'Studentische Mitarbeiterin / Studentischer Mitarbeiter (m/w/d) im Business Management der Volkswagen Consulting, Schwerpunkt Personalmarketing und Social Media',
       'Software Engineer (m/f/x)- Remote/ Hybrid',
       'Développeur Full-stack expérimenté(e) (H/F)',
       'DATA ENGINEER SKYWISE [H/F/D]', 'Online Data Analyst - Slovenia',
       'PT Compliance Hub - Data Analyst', 'DEVOPS ENGINEER',
       'Traineeship Data Analist', 'Data Engineer - Metrics',
       'Werkstudent Pricing (w/m/d) - Smart Starter Programm',
       'Commercial Data Analyst - Online Travel - London - £40K',
       'Online Data Analyst - Croatia', 'API Developer',
       'Junior Product Owner',
       'Software Engineer - Application Frameworks and Project Bootstrapping',
       'Développeur full stack F/H', 'Location Strategy & Data Analyst',
       'Software Backend Engineer (m/f/d)', 'Data Entry in Spain',
       'Cybersecurity Data Analyst', 'Data Analyst Product, CRO expert',
       'Web Analyst for Czech Speaker in Germany',
       'Media Search Analyst - German (DE)',
       'Data Engineering & Data Warehouse Analyst (all genders)',
       'Chef de projet data F/H', 'GIS Asset Data Analyst',
       'Data Engineer (Analytics)',
       'Data Scientist / Machine Learning Engineer',
       'Ingénieur prévisions des énergies', 'Homologation Engineer',
       'Data Specialist (Steward / Analyst)', 'Analyste Data H/F',
       'Data Scientist-Analyst GERS (H/F) - Boulogne-Billancourt (France)',
       'Analytics Engineer - Internal Analytics',
       'Stagiaire Ingénieur Data (F/H)', 'Test Engineer DevOps',
       'Customer Ledger Data Analyst',
       'Data Analyst (m/f/d) Workload Planning (Business Administrator (Fachschule) - Information Processing)',
       'Data Analytics Developer', 'People Systems and Data Analyst',
       'Développeur C++ - QT - H/F - Paris', 'Kubernetes Developer',
       'Software Engineer - Resilience',
       'Product Data Analyst / Analytics Engineer — London',
       'Promoter Engineer', 'ML Ops Engineer',
       'Online Data Analyst - Slovakia',
       'SSWHG35824 - Data Analyst, CHAIR Programme, Section Officer, Grade VI',
       'Social Media Analyst',
       'JUNIOR CONSULTANT - SETTORE INNOVAZIONE TECNOLOGICA\xa0- SP10868',
       'OutSystems Developer', 'Insight Analyst',
       'Data Analyst | E-commerce & Crowdfunding',
       'Quality Engineer - Product Analyst', 'DevOps Engineer',
       '(Junior) Consultant Digitales & Strategisches Prozessmanagement (m/w/d) in Stuttgart',
       "Stagiaire Développeur d'outils pédagogiques de formation (H/F)",
       'SW Developer in Test (C++) – Brno',
       'Data Analyst for Portuguese Speakers',
       'Sample Management Data Analyst',
       'Stage - Développeur FullStack (H/F)', 'Data engineer H/F',
       "Analyste risques suivi d'activité de marché-(H/F)",
       'Développeur Python Back-end',
       'Application Data Analyst Hybrid working',
       'Inventory data analyst til Europas største kontorartikelleverandør',
       'Junior Consultant - Taranto', 'Data Analyst Pricing – F/H',
       'SVILUPPATORE C++/PYTHON', 'Data Analyst - Regulatory Affairs',
       'Language Data Analyst - Hebrew', 'Acoustic Data Analyst',
       'Systems Data Analyst', 'Ingenieur für die Produktion (m/w/d)',
       'Ingénieur en télédétection et physique atmosphérique - F/H',
       'BI Engineer, Business Intelligence #SWX H/F',
       'Software function developer for electric powertrain control',
       'Junior Network Quality Engineer',
       'Junior Data Governance Specialist',
       'Junior Technical Analyst (all genders)',
       'Business Intelligence Consultant',
       'Risk Analytics & AI Professionals',
       'Cloud Engineer bij InnoValor', 'Functional Analyst',
       'Master Data (bilingue anglais) H/F', 'SW integrator engineer',
       '(JUNIOR) CONSULTANT (M/W/D) TRANSFORMATION & DATA, bis 70k',
       'Data Steward', 'Consultant (m/w/d) AI & Data Science in Hamburg',
       'Apprenti Ingénieur Business Intelligence (H/F) - NIEDERHERGHEIM',
       'HR Group Reward & HR Data Analyst',
       'Media Search Analyst | French Speaker', 'Data Associate',
       'Data Engineer - Internal Analytics', 'Interim HR Data Analyst',
       'Language Researcher / Data Analyst - French',
       'Online Data Analyst - Hungary', 'P2P Operations Credit Analyst',
       'Ing. Elettronico/Data Analyst',
       'Customer Data Platform (CDP) Specialist / Customer Data Consultant / MarTech Expert / Data Analyst (H/F)',
       'Module Data Science Engineer',
       'Advance Analytics and AI practitioner',
       'Data Analyst / Consultant Qlikview/Qliksense (m/w/d)',
       'Quality Assurance Analyst', 'Python Software Engineer',
       'Développeur C# H/F', 'Fullstack Python Developer - Data Lake',
       'Junior Entwickler (m/w/d) – Data Science Automotive',
       'Analytics Engineer (open to full remote in Germany)',
       'Scientific programmer and data analyst',
       'Software Engineer - Site Reliability',
       'Software Engineer (m/w/d)', 'Ingénieur-e écoconception F/H',
       'Genomics Data Analyst',
       'Analytics Engineer (open to full remote in Spain)',
       'Junior Engineer for Dynamic Mooring Analyses',
       'Data Research Analyst', 'Junior Developer - Low-Code (m/w/d)',
       'Junior Business Intelligence Analyst',
       'Praktikant / Werkstudent Data Analyst (m/w/d) Financial Services Industry',
       'Junior data scientist/onderzoeker',
       'Praktikum Trade Marketing – Dove, Axe, Duschdas (m/w/d)',
       'Data Engineer (m/f/d) - Pricing Intelligence',
       'Data Administrator',
       'Ingénieur IVVQ-Spatiale – Valence, France (H/F)',
       'Ingénieur Qualité Projet Développement',
       'Quality Engineer Junior', 'BI Data Analyst Intern (f/m/x)',
       'Support Engineer',
       'Python Entwickler (gn) für AUTOSAR-XML: Ingolstadt & remote',
       'Practice Data Engineer F/H', 'Senior Analytics Consultant',
       'Internet Analyst | Florence, Italy Metropolitan Area',
       'Technical Support Engineer - Azure Synapse Analytics',
       'Analytics Engineer (open to full remote in France)',
       'Junior Consultant', 'Data Engineer – E-Commerce',
       'Data Architect/ Engineer Graduate',
       'Graduate Marketing Technology Analyst',
       'Desarrollador/a Mercado Canal Nocturno, Barcelona',
       'ESG Data Specialist',
       'Duales Masterstudium Applied Data Science (m/w/d)',
       'Développeur Python H/F',
       '(Junior) Consultant Digitales & Strategisches Prozessmanagement (m/w/d) in Berlin',
       'Ingénieur logiciel – Caen, France (H/F)',
       'Ocean Freight Operator',
       'Qualitätsingenieur (*) für Medizinprodukte', 'Developer, C#',
       'Ingénieur Opérations Sol H/F', 'Consulente junior',
       'SAS Engineer/Consultant',
       'Data Expert (m/w/d) für das Rail-Segment',
       '(Junior) Software Developer - Python', 'Junior Energy Analyst',
       'Language Data Analyst', 'Data Scientist - Data Science',
       'Data Junior Analyst [Online / Phone Recruitment]',
       'Traffic Analyst', 'Junior Developer (J12998)',
       'Assistenz (w/m/d) des CEO West - Schwerpunkt Data Analyst / Controlling',
       'Project Services Assistant', 'CONSULENTE APPLICATIVO ERP JUNIOR',

In [4]:
# Отсортируем вакансии для дата аналитиков 
df_sorted = (
    df.loc[df['title']
    .str.contains('Analyst|Business Intelligence', case=False) == True]
    .reset_index(drop=True)
)
print('Количество релевантных вакансий: {} шт, что составляет - {}%'.format(len(df_sorted), round(len(df_sorted)/ len(df) * 100)))

Количество релевантных вакансий: 362 шт, что составляет - 47%

In [5]:
# Достанем ссылки на вакансии. В html любая ссылка имеет аттрибут href
# Добавим спереди ресурс откуда 'https://linkedin.com' и закинем в лямбду.
df_sorted['link'] = df_sorted['html'].apply(lambda x: "https://linkedin.com" + BeautifulSoup(x).find('a').get('href'))
df_sorted[['link']].to_html(render_links=True, escape=False)
df_sorted.sample(2)

,html,title,link
88,"\n <div>\n <div class=""\n jobs-deta...",Graduate Data Analyst 12 Month FTC,https://linkedin.com/jobs/view/3255535164/?alt...
212,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248878711/?alt...

Сделаем кликабельные ссылки в столбце link
def make_clickable(val):
    return f'<a href="{val}">{val}</a>'

df_sorted.style.format(make_clickable)
df_sorted.sample(2)

In [6]:
# Нужно вытащить адрес
def get_geo(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__bullet').text.strip()
    except:
        return np.nan
df_sorted['geo'] = df_sorted['html'].apply(get_geo)
df_sorted.sample(2)

,html,title,link,geo
214,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst H/F,https://linkedin.com/jobs/view/3250772628/?alt...,"Nanterre, Île-de-France, France"
46,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248495824/?alt...,"Laholm, Halland County, Sweden"

## Город - city

In [7]:
# Функция будет создавать один признак с городом, другой - со страной. Получим город
def get_city(cell):
    try:
        if len(cell.split(',')) > 1:
            return cell.split(',')[0].strip()
        elif 'Greater' in cell:
            return cell.split()[1].strip()
        elif 'Area' in cell:
            return cell.split()[0].strip()
    except:
        return 'unknown'
df_sorted['city'] = df_sorted['geo'].apply(get_city)
df_sorted.head(2)

,html,title,link,geo,city
0,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara
1,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders

## Страна - country

In [8]:
# Получим страну
def get_country(cell):
    try:
        if len(cell.split(',')) > 1:
            return cell.split(',')[-1].strip()
        else:
            return cell.split(',')[0].strip()
    except:
        return np.NaN
df_sorted['country'] = df_sorted['geo'].apply(get_country)
df_sorted.sample(2)

,html,title,link,geo,city,country
24,"\n <div>\n <div class=""\n jobs-deta...",Data analyst,https://linkedin.com/jobs/view/2811860634/?alt...,"Castres, Occitanie, France",Castres,France
215,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst - Analytics and Insights - Data C...,https://linkedin.com/jobs/view/3184375966/?alt...,"Lisbon, Lisbon, Portugal",Lisbon,Portugal

In [9]:
# Посмотрим пропуски и уникальные имена стран
for column in df_sorted:  
    row = df_sorted[column].isna().sum()
    print('{} : {} / {:.0%}'.format(column, row, row / len(df_sorted)))
    
print('---------------------------')
print('Уникальные имена стран:\n{}'.format(df_sorted['country'].unique()))

html : 0 / 0%
title : 0 / 0%
link : 0 / 0%
geo : 0 / 0%
city : 24 / 7%
country : 0 / 0%
---------------------------
Уникальные имена стран:
['Sweden' 'Belgium' 'Germany' 'France' 'Hungary'
 'Przemyśl Metropolitan Area' 'Gibraltar' 'Poland'
 'Grudziadz Metropolitan Area' 'Greater Norrköping Metropolitan Area'
 'Radom Metropolitan Area' 'Zamosc Metropolitan Area'
 'Greater Edinburgh Area' 'United Kingdom' 'Finland' 'Switzerland'
 'Netherlands' 'Lodz Metropolitan Area' 'Norway' 'Italy' 'Czechia'
 'Bulgaria' 'Slovakia' 'Portugal' 'Spain' 'Mons Metropolitan Area'
 'Bucharest Metropolitan Area' 'Greater Milan Metropolitan Area'
 'Greater Bologna Metropolitan Area' 'Luxembourg'
 'Ghent Metropolitan Area' 'Ireland' 'Bruges Metropolitan Area' 'Croatia'
 'Greater Gijón Metropolitan Area' 'Kortrijk Metropolitan Area' 'Slovenia'
 'Romania' 'Denmark' 'Greater Rome Metropolitan Area'
 'Greater Zurich Area' 'Namur Metropolitan Area'
 'Greater Barcelona Metropolitan Area' 'Greater Turin Metropolitan Area'
 'Brussels Metropolitan Area' 'Greater Paris Metropolitan Region'
 'Antwerp Metropolitan Area' 'Warsaw Metropolitan Area' 'Austria'
 'Greater Genoa Metropolitan Area' 'Liege Metropolitan Area'
 'Louvain Metropolitan Area' 'Lithuania' 'Italy Metropolitan Area'
 'Athens Metropolitan Area']

- В странах присутсвуют приставки областей, районов.
- Пропуски городов обработаем заменой

In [10]:
# Уберем пропуски городов
df_sorted['city'].fillna('unknown', inplace=True)

In [12]:
# Чтобы получить названия стран по названиям местности, воспользуемся сервисом geonames
def get_country_from(cell):
    if 'Greater' in cell:
        city_name = cell.split()[1].strip()
        response = requests.request("GET", f"https://www.geonames.org/search.html?q={city_name}&country=")
        country = BeautifulSoup(response.text).find_all('a')[9].text
        if country:
            return country
        else: 
            return cell
    elif 'Area' in cell:
        city_name = cell.split()[0].strip()
        response = requests.request("GET", f"https://www.geonames.org/search.html?q={city_name}&country=")
        country = BeautifulSoup(response.text).find_all('a')[9].text
        if country:
            return country
        else:
            return cell
    else:
        return cell

df_sorted['country'] = df_sorted['country'].apply(get_country_from)
df_sorted['country'].unique()

array(['Sweden', 'Belgium', 'Germany', 'France', 'Hungary',
       'Przemyśl Metropolitan Area', 'Gibraltar', 'Poland',
       'Radom Metropolitan Area', 'United Kingdom', 'Finland',
       'Switzerland', 'Netherlands', 'Norway', 'Italy', 'Czechia',
       'Bulgaria', 'Slovakia', 'Portugal', 'Spain', 'Romania',
       'Luxembourg', 'Ireland', 'Croatia', 'Slovenia', 'Denmark',
       'Austria', 'Lithuania', 'Greece'], dtype=object)

In [13]:
# Заменим то, что не сработало
df_sorted.loc[df_sorted['country'] =='Przemyśl Metropolitan Area', 'country']= 'Poland'
df_sorted.loc[df_sorted['country'] =='Radom Metropolitan Area', 'country']= 'Poland'

In [14]:
# Для дальнейшей визуализации потребуются географические координаты. Выделим их.
geolocator = Nominatim(user_agent = 'your_app')

# Широта
def get_latitude(cell):
    try:
        location = geolocator.geocode(cell)
        return location.latitude
    except:
        return np.nan

# Долгота
def get_longitude(cell):
    try:
        location = geolocator.geocode(cell)
        return location.longitude
    except:
        return np.nan

df_sorted['latitude'] = df_sorted['geo'].apply(get_latitude)
df_sorted['longitude'] = df_sorted['geo'].apply(get_longitude)

In [15]:
# Есть ли пропуск
print('Количество пропусков в долготе/ширине:', df_sorted['latitude'].isna().sum())
print('---------------------------')
df_sorted[df_sorted['latitude'].isna()].head(2)

Количество пропусков в долготе/ширине: 31
---------------------------

,html,title,link,geo,city,country,latitude,longitude
6,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl,Poland,NaN,NaN
14,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257240118/?alt...,Grudziadz Metropolitan Area,Grudziadz,Poland,NaN,NaN

Пропуски- это области, регионы в geo. Город, мы выделяли из названия области.

Выделим количество кандидатов- candidats, название компании- company, тип занятости- employment.

In [16]:
# Выберем элементы из карточки компании
def span_element(df, class_name):
    soup = BeautifulSoup(df, 'lxml')
    general_info = soup.find_all('div', class_='jobs-unified-top-card__content--two-pane')
    for row in general_info:
      element = [element.text.strip() for element in row.find_all('span', class_=class_name, limit=1)]
      element = ''.join(element)
      return element

## Количество кандидатов - candidats

In [17]:
# Выделим количество кандидатов- candidats
df_sorted['candidats'] = df_sorted['html'].apply(lambda x: span_element(x, class_name='jobs-unified-top-card__applicant-count'))
df_sorted['candidats'].unique()

array(['12 applicants', '11 applicants', '2 applicants', '4 applicants',
       '25 applicants', '', '7 applicants', '14 applicants',
       '30 applicants', '26 applicants', '10 applicants', '9 applicants',
       '3 applicants', '23 applicants', '5 applicants', '49 applicants',
       '13 applicants', '31 applicants', '44 applicants', '15 applicants',
       '21 applicants', '6 applicants', '33 applicants', '29 applicants',
       '17 applicants', '8 applicants', '62 applicants', '50 applicants',
       '32 applicants', '36 applicants', '65 applicants', '1 applicant',
       '20 applicants', '28 applicants', '63 applicants', '75 applicants',
       '38 applicants', '24 applicants', '85 applicants', '22 applicants',
       '57 applicants', '79 applicants', '107 applicants',
       '42 applicants', '40 applicants', '73 applicants',
       '167 applicants', '78 applicants', '70 applicants',
       '16 applicants', '67 applicants', '56 applicants', '35 applicants',
       '60 applicants', '48 applicants', '19 applicants', '76 applicants',
       '41 applicants', '18 applicants', '108 applicants',
       '144 applicants', '55 applicants', '98 applicants',
       '92 applicants', '34 applicants', '109 applicants',
       '111 applicants', '45 applicants', '88 applicants',
       '93 applicants', '43 applicants', '27 applicants', '61 applicants',
       '147 applicants', '52 applicants', '137 applicants',
       '54 applicants', '66 applicants', '37 applicants', '94 applicants',
       '148 applicants', '169 applicants', '71 applicants',
       '110 applicants'], dtype=object)

In [18]:
# Заменим строчный пропуск
df_sorted.loc[df_sorted['candidats'] == '', 'candidats'] = None

# Уберем слово "applicants" и преобразуем тип.
df_sorted['candidats'] = df_sorted['candidats'].str.replace(r'\D', '', regex=True).astype('Int64')
df_sorted['candidats'].fillna(0, inplace=True)
df_sorted['candidats'].unique()

<IntegerArray>
[ 12,  11,   2,   4,  25,   0,   7,  14,  30,  26,  10,   9,   3,  23,   5,
  49,  13,  31,  44,  15,  21,   6,  33,  29,  17,   8,  62,  50,  32,  36,
  65,   1,  20,  28,  63,  75,  38,  24,  85,  22,  57,  79, 107,  42,  40,
  73, 167,  78,  70,  16,  67,  56,  35,  60,  48,  19,  76,  41,  18, 108,
 144,  55,  98,  92,  34, 109, 111,  45,  88,  93,  43,  27,  61, 147,  52,
 137,  54,  66,  37,  94, 148, 169,  71, 110]
Length: 84, dtype: Int64

У нас есть пропуски в данных- количество кандидатов. Это может быть обусловлено свежестью размещения вакансии, на которую еще никто не успел откликнуться.    
А чтобы привести тип данных к целочисленному, даже если в столбце есть пропуски испльзуем astype('Int64')

## Тип занятости - employment

In [19]:
# Выделим тип занятости- employment
df_sorted['employment'] = df_sorted['html'].apply(lambda x: span_element(x, class_name='jobs-unified-top-card__workplace-type'))
df_sorted['employment'].unique()

array(['Remote', 'On-site', 'Hybrid', ''], dtype=object)

In [20]:
# Заменим пропуски 
df_sorted['employment'].replace('', 'unknown', inplace=True)
df_sorted['employment'].fillna('unknown', inplace=True)
df_sorted['employment'].unique()

array(['Remote', 'On-site', 'Hybrid', 'unknown'], dtype=object)

## Название компании - company

In [21]:
# Выделим название компании- company
df_sorted['company'] = df_sorted['html'].apply(lambda x: span_element(x, class_name='jobs-unified-top-card__company-name'))
print('Количество дубликатов в столбце company:', df_sorted['company'].duplicated().sum())
print('---------------------------')
print('Количество пропусков в столбце company:', df_sorted['company'].isna().sum())

Количество дубликатов в столбце company: 153
---------------------------
Количество пропусков в столбце company: 0

153 компании дублируются. Вероятно, у одной компании несколько вакансий.
## Дата публикации - publication date

In [27]:
# Выделим дату публикации- publication date до `2022-09-07 17:00:00`
parse_date_time = dt.datetime(2022, 9, 7, 17, 0, 0)
print(parse_date_time)


def get_date_time(cell):
    time_info = BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__posted-date').text.strip()
    time_unit_name = time_info.split(' ')[1]
    time_unit = int(time_info.split(' ')[0])
    if time_unit_name in ['seconds', 'second']:
        return parse_date_time - dt.timedelta(seconds=time_unit)
    elif time_unit_name in ['minutes', 'minute']:
        return parse_date_time - dt.timedelta(minutes=time_unit)
    elif time_unit_name in ['hours', 'hour']:
        return parse_date_time - dt.timedelta(hours=time_unit)
    elif time_unit_name in ['days', 'day']:
        return parse_date_time - dt.timedelta(days=time_unit)
    elif time_unit_name in ['weeks', 'week']:
        return parse_date_time - dt.timedelta(weeks=time_unit)
    else:
        return np.nan
df_sorted['publication_date'] = df_sorted['html'].apply(get_date_time)
df_sorted.sample(2)

2022-09-07 17:00:00

,html,title,link,geo,city,country,latitude,longitude,candidats,employment,company,publication_date
38,"\n <div>\n <div class=""\n jobs-deta...",Remote | Data Analyst,https://linkedin.com/jobs/view/3254885933/?alt...,"Berlin, Germany",Berlin,Germany,52.517037,13.388860,29,Remote,TELUS International AI Data Solutions,2022-09-05 17:00:00
105,"\n <div>\n <div class=""\n jobs-deta...",CONSULTANT DATA ANALYST (F/H),https://linkedin.com/jobs/view/3141921873/?alt...,"Issy-les-Moulineaux, Île-de-France, France",Issy-les-Moulineaux,France,48.825051,2.273457,107,On-site,Niji,2022-09-02 17:00:00

Вариант обработки даты

if 'day' in string:
    days_ago = int(''.join([x for x in string if x.isdigit()]))
    return date_of_parsing - timedelta(days = days_ago)

elif 'hours' in string:
    hours_ago = int(''.join([x for x in string if x.isdigit()]))
    return date_of_parsing - timedelta(hours = hours_ago)
    
else:
    week_ago = int(''.join([x for x in string if x.isdigit()]))
    return date_of_parsing - timedelta(weeks = week_ago)

In [28]:
df_sorted['publication_date'].describe()

C:\Users\nikit\AppData\Local\Temp\ipykernel_11508\3385354398.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_sorted['publication_date'].describe()

count                     362
unique                     26
top       2022-09-06 17:00:00
freq                       80
first     2022-08-31 17:00:00
last      2022-09-07 16:50:00
Name: publication_date, dtype: object

In [29]:
# Выделим размер компании и сферу деятельности
def size_field_of_activity(cell):
    try:
        return BeautifulSoup(cell).find('div', class_ = 'mt5 mb2').find_all('li')[1].text.strip()
    except:
        return np.nan
df_sorted['size_field'] = df_sorted['html'].apply(size_field_of_activity)

# Посмотрим есть ли пропуск
df_sorted.query('size_field.isna()')

,html,title,link,geo,city,country,latitude,longitude,candidats,employment,company,publication_date,size_field
286,"\n <div>\n <div class=""\n jobs-deta...",Customer Ledger Data Analyst,https://linkedin.com/jobs/view/3254329032/?alt...,"Stockport, England, United Kingdom",Stockport,United Kingdom,53.407901,-2.160243,0,On-site,Birnbach Communications,2022-09-06 17:00:00,NaN

In [30]:
# Вытащим ссылку, посмотрим вакансию
df_sorted.iloc[286]['link']

'https://linkedin.com/jobs/view/3254329032/?alternateChannel=search&refId=hoEkNmylbSwHUlyIHRvzIQ%3D%3D&trackingId=SwUmzWKVnKM6fhDoWNcdtw%3D%3D&trk=d_flagship3_search_srp_jobs'

In [31]:
# Заполним пропуск
df_sorted['size_field'].fillna('1-10 employees · Public Relations and Communications Services', inplace=True)

# Проверим, остались ли пропуски
df_sorted['size_field'].isna().sum()

0

## Размер компании - company_size

In [33]:
# Выделим размер компании (количество работников)
def company_size(cell):
    if 'employees' in cell:
        cell = cell.partition(' employees')[0].replace(',', '')
        return cell 
    else:
        return 'unknown'
    
df_sorted['company_size'] = df_sorted['size_field'].apply(company_size)

print('Количество пропусков в столбце company_size:', df_sorted['company_size'].isna().sum())
print('---------------------------')
print('Уникальные значения в столбце company_size:\n', df_sorted['company_size'].unique())

Количество пропусков в столбце company_size: 0
---------------------------
Уникальные значения в столбце company_size:
 ['10001+' '201-500' '1001-5000' '51-200' '5001-10000' '501-1000' '11-50'
 '1-10' 'unknown']

На сайте нет инфомации для заполнения. Оставляем так

In [34]:
# Категоризуем компании по размеру
def size_category(col):
    if ('1-10' in col) | ('11-50' in col):
        return 'small'
    if ('51-200' in col) | ('201-500' in col):
        return 'medium'
    if ('10001+' in col) | ('1001-5000' in col) | (
            '5001-10000' in col) | ('501-1000' in col):
        return 'large'
    return 'unknown'
df_sorted['company_size_category'] = df_sorted['company_size'].apply(size_category)
df_sorted['company_size_category'].value_counts()

large      188
small       98
medium      65
unknown     11
Name: company_size_category, dtype: int64

## Сфера деятельности компании - field_of_activity

In [35]:
# Выделим сферу деятельности компании
def field_of_activity (cell):
    if 'Premium' in cell:
        return 'unknown'
    if ('employees' in cell) and ('·' not in cell):
        return 'unknown'
    if '·' in cell:
        cell = cell.partition('· ')[2]
        return cell
    else:
        return cell

df_sorted['field_of_activity'] = df_sorted['size_field'].apply(field_of_activity)

print('Количество пропусков в столбце field_of_activity:', 
df_sorted.loc[df_sorted['field_of_activity'] == 'unknown', 'field_of_activity'].count())

Количество пропусков в столбце field_of_activity: 18

In [36]:
# Сохраним файл в Tableau
df_sorted[['title', 'city', 'country', 'latitude', 'longitude']].to_csv('geo.csv', index = False)
df_sorted.to_csv('full_project.csv')
display(df_sorted.sample(2))
print('---------------------------')
print('Количество дубликатов:', df_sorted.duplicated().sum())
print('---------------------------')
df_sorted.info()

,html,title,link,geo,city,country,latitude,longitude,candidats,employment,company,publication_date,size_field,company_size,company_size_category,field_of_activity
128,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst - Performance,https://linkedin.com/jobs/view/3255566414/?alt...,"London, England, United Kingdom",London,United Kingdom,51.507322,-0.127647,6,On-site,Up agency,2022-09-05 17:00:00,11-50 employees · Advertising Services,11-50,small,Advertising Services
166,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3255290127/?alt...,"Reading, England, United Kingdom",Reading,United Kingdom,51.456659,-0.969651,10,On-site,Project People,2022-09-05 17:00:00,201-500 employees · Staffing and Recruiting,201-500,medium,Staffing and Recruiting

---------------------------
Количество дубликатов: 0
---------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   html                   362 non-null    object
 1   title                  362 non-null    object
 2   link                   362 non-null    object
 3   geo                    362 non-null    object
 4   city                   362 non-null    object
 5   country                362 non-null    object
 6   latitude               331 non-null    float64
 7   longitude              331 non-null    float64
 8   candidats              362 non-null    Int64
 9   employment             362 non-null    object
 10  company                362 non-null    object
 11  publication_date       362 non-null    datetime64[ns]
 12  size_field             362 non-null    object
 13  company_size           362 non-null    object
 14  company_size_category  362 non-null    object
 15  field_of_activity      362 non-null    object
dtypes: Int64(1), datetime64[ns](1), float64(2), object(12)
memory usage: 45.7+ KB

## Описание вакансии - description

In [37]:
# Вытащим описание вакансии
df_sorted['description'] = df_sorted['html'].apply(lambda x: BeautifulSoup(x).find('div', {'id':'job-details'}).text.strip())

## Хард скилы - skills

In [38]:
# Какие хард скилы требуются дата аналитику - тащим это из описания вакансии, то есть из столбца description
skills = (['datahub', 'api', 'github', 'google analytics', 'adobe analytics', 'ibm coremetrics', 'omniture'
            'gitlab', 'erwin', 'hadoop', 'spark', 'hive'
           'databricks', 'aws', 'gcp', 'azure','excel',
            'redshift', 'bigquery', 'snowflake',  'hana'
            'grafana', 'kantar', 'spss', 
           'asana', 'basecamp', 'jira', 'dbeaver','trello', 'miro', 'salesforce', 
           'rapidminer', 'thoughtspot',  'power point',  'docker', 'jenkins','integrate.io', 'talend', 'apache nifi','aws glue','pentaho','google data flow',
             'azure data factory','xplenty','skyvia','iri voracity','xtract.io','dataddo', 'ssis',
             'hevo data','informatica','oracle data integrator','k2view','cdata sync','querysurge', 
             'rivery', 'dbconvert', 'alooma', 'stitch', 'fivetran', 'matillion','streamsets','blendo',
             'iri voracity','logstash', 'etleap', 'singer', 'apache camel','actian', 'airflow', 'luidgi', 'datastage',
           'python', 'vba', 'scala', ' r ', 'java script', 'julia', 'sql', 'matlab', 'java', 'html', 'c++', 'sas',
           'data studio', 'tableau', 'looker', 'powerbi', 'cognos', 'microstrategy', 'spotfire',
             'sap business objects','microsoft sql server', 'oracle business intelligence', 'yellowfin',
             'webfocus','sas visual analytics', 'targit', 'izenda',  'sisense', 'statsbot', 'panorama', 'inetsoft',
             'birst', 'domo', 'metabase', 'redash', 'power bi', 'alteryx', 'dataiku', 'qlik sense', 'qlikview'
          ]) 
def get_skills(cell):
    list_skills = []
    for skill in skills:
        if skill in cell.lower().replace('powerbi', 'power bi'):
            list_skills.append(skill)
    return list_skills
df_sorted['skills'] = df_sorted.description.apply(get_skills)
df_sorted.sample(5)

,html,title,link,geo,city,country,latitude,longitude,candidats,employment,company,publication_date,size_field,company_size,company_size_category,field_of_activity,description,skills
114,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer for Business Intelligence/ Data ...,https://linkedin.com/jobs/view/3249825219/?alt...,Bucharest Metropolitan Area,Bucharest,Romania,NaN,NaN,10,Hybrid,LSEG (London Stock Exchange Group),2022-09-07 10:00:00,"10,001+ employees · Financial Services",10001+,large,Financial Services,Main Responsibilities\nWork with stakeholders ...,"[aws, excel, redshift, python, sql, tableau]"
184,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3246475239/?alt...,"Paris, Île-de-France, France",Paris,France,48.858890,2.320041,0,Hybrid,Harnham,2022-09-01 17:00:00,201-500 employees · Staffing and Recruiting,201-500,medium,Staffing and Recruiting,DATA ANALYSTPARIS - NORD EST 42K-48K€\nNous re...,"[python, sql, tableau]"
310,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst Pricing – F/H,https://linkedin.com/jobs/view/3187484089/?alt...,"St-Étienne, Auvergne-Rhône-Alpes, France",St-Étienne,France,45.440147,4.387306,33,On-site,Groupe Casino,2022-09-06 17:00:00,"10,001+ employees · Retail Groceries",10001+,large,Retail Groceries,"Mission \n\nAu sein de la Direction Prix et, r...","[api, excel, vba, sql, java, html]"
215,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst - Analytics and Insights - Data C...,https://linkedin.com/jobs/view/3184375966/?alt...,"Lisbon, Lisbon, Portugal",Lisbon,Portugal,38.707751,-9.136592,108,unknown,Bose Corporation,2022-09-03 17:00:00,"5,001-10,000 employees · Computers and Electro...",5001-10000,small,Computers and Electronics Manufacturing,Job Description\nData Analyst - Analytics and ...,"[excel, snowflake, python, sql, power bi]"
206,"\n <div>\n <div class=""\n jobs-deta...",Customer Data Analyst (m/w/d),https://linkedin.com/jobs/view/3255969935/?alt...,"Düsseldorf, North Rhine-Westphalia, Germany",Düsseldorf,Germany,51.225402,6.776314,4,On-site,why worry GmbH,2022-09-06 17:00:00,1-10 employees · Staffing and Recruiting,1-10,small,Staffing and Recruiting,Wenn zukunftssichere und attraktive Stellen im...,"[adobe analytics, ssis, tableau, microstrategy..."

In [39]:
# Выгрузим скилы в длинную таблицу
df = df_sorted.explode('skills')

# Сохраним таблицу для Tableau
df[['candidats', 'title', 'city', 'country', 'skills', 'link']].to_csv('ready_ready.csv', index = False)